/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
/*  --ifm-navbar-background-color: rgb(1,28,44); 
  --ifm-navbar-link-color: white; */

  --flinders-blue: rgb(34,45,75);
  --flinders-yellow: rgb(252,212,6);
  --flinders-yellow-hover: rgb(242, 231, 176);

}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: PlayfairDisplay;
  src: url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap);
}

@font-face {
  font-family: OpenSans;
  src: url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap);
}

.hero__title {
  font-family: PlayfairDisplay;
}

/* Styles for the registration page */
.registration_title {
  text-align: Center
}
/* Table for displaying fee schedule */
.registrationFeeTable {
  vertical-align: top;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--flinders-blue);
}

.registrationFeeTable tr,
.registrationFeeTable th,
.registrationFeeTable td {
  border: none;
}

/* Turn off inherited banding */
.registrationFeeTable tr:nth-child(odd),
.registrationFeeTable tr:nth-child(even) {
  background-color: transparent;
}

.registrationFeeTable th {
  padding-right: 50px;
}

.registrationFeeTable td {
  padding-left: 2px;
  padding-right: 2px;
  text-align: right;
}

/* Copied from EOIButton.css as it wasn't being read there */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

/* I'm using this underlined heading more and more so moving it to the
global CSS file.  This was RFHeading */
.ALAAHeading {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 0;
    border-bottom: 1px solid var(--flinders-blue);
    margin-bottom: 10px;
}

/* Styles for accommodation.mdx */
/* Custom styles for alternating image-text sections */
.alternating-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.alternating-section .section-text {
  flex: 1 1 60%; /* Gives text majority of the space */
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}

.alternating-section .section-image {
  flex: 1 1 30%; /* Adjust based on your image size preference */
  max-width: 30%; /* Keeps image from taking more than 30% of space */
}

/* Adjustments for mobile screens */
@media (max-width: 768px) {
  .alternating-section {
    flex-direction: column;
    text-align: center;
  }

  .alternating-section .section-text,
  .alternating-section .section-image {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
