.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
}

.interestButton {
    background-color: rgb(1,28,44);
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: background-color 0.3s ease;
}

.interestButton:hover {
    background-color: rgb(155, 218, 255);
    color: #000;
    text-decoration: none;
}
